    @{
    ViewBag.Title = "NotFound";
}
<section class="bg">
<div class="error-template">
    <h1 class="text-light">
        Oops!
    </h1>
    <h2 class="text-light">
        404 Not Found
    </h2>
    <div class="error-details text-light">
        Sorry, an error has occured, Requested page not found!
    </div>
    <div class="error-actions">
        <a href="/Home/Index" class="btn btn-dark btn-lg">
            Take Me Home
        </a>
    </div>
</div>
</section>